@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 1%;
    background: linear-gradient(179.59deg, #F7F8F8 13.27%, #DAC4BE 81.53%);
    margin: 0;
    padding: 0;
.page{
    overflow: hidden;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    header {
        display: flex;

        .container {
            width: calc(100% - 245px - 245px);
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;

            .naz {
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 48px;
                color: #8A8585;
                text-decoration: none;
            }

            ul {
                display: flex;
                gap: 30px;

                li {
                    a {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                        color: #A4A2A2;
                        text-decoration: none;
                    }
                }
            }

            .glavkop {
                position: relative;

                #clickButton:hover {
                    cursor: pointer;
                }

                a {
                    color: grey;
                    text-decoration: none;
                }

                ul {
                    padding: 0;
                }

                .menu {
                    opacity: 0;
                    padding: 10px 10px;
                    position: absolute;
                    top: 35px;
                    left: -45px;
                    background: white;
                    border: 1px solid black;
                    box-shadow: 1px 2px 10px 2px rgb(59, 55, 55);
                    display: inline-block;
                }

                .active-menu {
                    opacity: 1;
                    display: inline-block;
                }
            }
        }
    }

    main {
        display: flex;
        padding-top: 6%;

        .container {
            display: flex;
            width: calc(100% - 245px - 245px);
            margin: 0 auto;
            justify-content: center;
            flex-direction: row;
            align-items: center;

            .con {
                display: flex;
                justify-content: center;
                flex-direction: column;
                background: rgba(148, 148, 148, 0.76);
                border-radius: 10px;
                width: 700px;

                .sport {
                    display: flex;
                    padding-left: 5%;
                    background: rgba(148, 148, 148, 0.8);
                    border-radius: 10px;
                    width: auto;
                    height: 40px;
                    align-items: center;

                    p {
                        display: flex;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 36px;
                        color: #FFFFFF;
                    }
                }

                .content {
                    display: flex;

                    .con1 {
                        display: flex;
                        flex-direction: column;
                        padding-left: 5%;
                        padding-right: 3%;
                        

                        .tema {
                            display: flex;
                            padding-top: 2%;
                            padding-bottom: 2%;
                            gap: 450px;
                            align-items: center;

                            a {
                                display: flex;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 22px;
                                color: #FFFFFF;
                                text-decoration: none;
                            }

                            p {
                                display: flex;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 22px;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
}


footer {
    display: flex;
    background: rgba(125, 125, 125, 0.5);
    mix-blend-mode: normal;
    width: 100%;
   margin-top: auto;

    .container {
        width: calc(100% - 245px - 245px);
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 200px;


        a {
            display: flex;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
            color: #FFFFFF;
            text-decoration: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            gap: 50px;

            li {
                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    text-decoration: none;
                    color: #FFFFFF;
                }
            }
        }
    }
}
}